*.*
build
virtualenv
virtualenvqt
dist
vtkmodules
!main.spec
!*.gitignore
!*.py
!*.pdf
!*.txt
!*.tex
!*.bib
!*.synctex.gz
!*.ui
!*.png
!*.vscode
!*.json
!*.fls
!imagenes
!*.jpg
!*.m
!*.mat
!*.pkl
!*.xlsx
!*.slx
!*.fis
!*.pyd
!*.ico
!*.zcos
!Main aplication/doc/**
!Main aplication/Documentacion/**
readMeta.m
esquemas tikz/*.fls