*.*
build
virtualenv
virtualenvqt
dist
vtkmodules
.vscode
__pycache__
!main.spec
!*.gitignore
!*.py
!*.pdf
!*.txt
!*.tex
!*.bib
!*.synctex.gz
!*.ui
!*.png
!*.json
!*.fls
!imagenes
!*.jpg
!*.m
!*.mat
!*.pkl
!*.xlsx
!*.slx
!*.fis
!*.pyd
!*.ico
!*.zcos
!*.svg
!doc/**
!*.*.yml
!*.qrc
readMeta.m
esquemas tikz/*.fls